<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.duffyapp.$(PRODUCT_NAME:rfc1034identifier)${APP_BUNDLE_ID_SUFFIX}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)${APP_BUNDLE_DISPLAY_NAME_SUFFIX}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>22</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Assets/Fonts/ProximaNova-Regular.otf</string>
		<string>Assets/Fonts/ProximaNova-Black.otf</string>
		<string>Assets/Fonts/ProximaNova-Bold.otf</string>
		<string>Assets/Fonts/ProximaNova-BoldIt.otf</string>
		<string>Assets/Fonts/ProximaNova-Extrabold.otf</string>
		<string>Assets/Fonts/ProximaNova-Light.otf</string>
		<string>Assets/Fonts/ProximaNova-LightItalic.otf</string>
		<string>Assets/Fonts/ProximaNova-RegularItalic.otf</string>
		<string>Assets/Fonts/ProximaNova-Semibold.otf</string>
		<string>AssetsFonts/ProximaNova-SemiboldItalic.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
